anyio==4.9.0
beanie==1.30.0
dnspython==2.7.0
fastapi==0.115.13
h11==0.16.0
idna==3.10
motor==3.7.1
pydantic==2.11.7
pydantic_core==2.33.2
pymongo==4.13.2
python-dotenv==1.1.0
starlette==0.46.2
uvicorn==0.34.3
nest_asyncio==1.6.0
